  <div class="w_menu">
  <nav class="container navbar navbar-expand-xl">
      <div class="logo">
        <img src="../../elesym/Reliance_Elysium_Logo.webp" style="width: 18vh;" alt="reliance elysum"/>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><span class="fas fa-bars fa-1x" style="color: #fff;"></span></button>
      <div class="menu_b collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="navbar-nav">
          <li class="active"><a href="/">Home</a>
          <li><a href="#about-us" >About</a>
          </li>
          <li><a href="#amenities" >Amenities</a>
            
          </li>
          <li><a href="#floorPlan">FloorPlan</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </div>
      </div>
  </nav>
  </div>