<section class="container welcome lax" data-lax-preset_large="eager-200">
    <div class="row">
      <div class="wel_f col-12 col-lg-6">
        <div class="b_t">
          <h2>PROJECT OVERVIEW</h2>
          <p>Reliance Elysium redefines premium living in Mokila. Spread across 4.34 acres, it comprises 347 premium homes in 3 majestic towers. With 3 & 4 BHK apartments , serene views, and 35+ world-class amenities like an elevated walkway and temperature-controlled pool, Elysium blends convenience with tranquility. Located close to ORR and Neopolis, it ensures unmatched connectivity and a refined living experience.</p><a class="button_medium" href="#">About Us</a>
        </div>
      </div>
      <div class="slder_b rn_surface col-12 col-lg-6">
        <div class="img_anm cocoen">
            <img src="../../elesym/gallery/02.webp" src-plh="https://via.placeholder.com/585x500"/>
        </div>
      </div>
    </div>
  </section>

  <section class="progress_block container">
    <div class="row">
            <div class="b_num col-12 col-lg-3 col-md-3">
              <div class="num_b">
                <h3>347</h3><span>Homes</span>
              </div>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi aliquid eaque.</p> -->
            </div>
            <div class="b_num col-12 col-lg-3 col-md-3">
              <div class="num_b">
                <h3>3</h3><span>Towers</span>
              </div>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi aliquid eaque.</p> -->
            </div>
            <div class="b_num col-12 col-lg-3 col-md-3">
              <div class="num_b">
                <h3>G+14 & 16</h3><span>Storeys</span>
              </div>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi aliquid eaque.</p> -->
            </div>
            <div class="b_num col-12 col-lg-3 col-md-3">
              <div class="num_b">
                <h3>4.34 acres</h3><span>Land</span>
              </div>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi aliquid eaque.</p> -->
            </div>
    </div>
  </section>