<section class="projects_b jarallax" style="background-image: url(assets/img/bg_home_black.png)">
    <div class="container">
        <div class="head_block">
            <h2 class="lax" data-lax-preset_large="zoomIn-0.9">Floor plans</h2>
            <div class="line_title lax" data-lax-preset_large="zoomIn-0.7">
                <svg>
                    <use xlink:href="assets/img/icons/sprite.svg#lamp_white_s"></use>
                </svg>
            </div>
            <p class="lax" data-lax-preset_large="fadeInOut-10 crazy-10">Explore the meticulously curated project plans of Reliance Elysium, designed to transform your vision of premium living into reality. Discover how every detail is thoughtfully crafted to enhance your experience and elevate your lifestyle.</p>
        </div>
        <div class="slider_global">
            <div class="swiper-container">
                <div class="projects_blocks swiper-wrapper" style="height: fit-content !important;">
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/master_plan.jpg" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Master Plan</h3>
                                   <a (click)="open('Download Floor Plan')" class="enquire-btn">ENQUIRE NOW</a>
                                </div>

                            </article>
                        </div>

                    </div>
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/floorPlan/Tower-C-East-unit.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">3 BHK</h3>
                                   <a (click)="open('Download Floor Plan')" class="enquire-btn">ENQUIRE NOW</a>
                                </div>

                            </article>
                        </div>

                    </div>
                   <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/floorPlan/Tower-B-East-unit.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">4 Bhk</h3>
                                     <a (click)="open('Download Floor Plan')" class="enquire-btn">ENQUIRE NOW</a>
                                </div>

                            </article>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            
        </div>
    </div>
</section>

<section style="background-image: url(assets/img/bg_home_black.png)">
    <div class="container">
        <div class="head_block">
            <h2 class="lax" data-lax-preset_large="zoomIn-0.9">Pricing</h2>
            <div class="line_title lax" data-lax-preset_large="zoomIn-0.7">
                <svg>
                    <use xlink:href="assets/img/icons/sprite.svg#lamp_white_s"></use>
                </svg>
            </div>
        </div>
  <div class="plans-table-wrap">
    <table class="plans-table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Super Built-up Area (sq.ft)</th>
          <th scope="col">Price (₹)</th>
          <th scope="col">Brochure</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Type"><strong>3 BHK</strong></td>
          <td data-label="Super Built-up">
            <span class="area-chip">2253-3045 SQ. FT.</span>
          </td>
          <td data-label="Carpet">
            <span class="price">5750₹ per SQ. FT.</span>
          </td>
         
          <td data-label="Brochure">
            <a class="enquire-btn" (click)="open('Download Floor Plan')" download>
              <!-- inline icon -->
              Download PDF
            </a>
          </td>
        </tr>

        <tr>
          <td data-label="Type"><strong>4 BHK</strong></td>
          <td data-label="Super Built-up">
            <span class="area-chip">4422-4755 SQ. FT.</span>
          </td>
       
          <td data-label="Price">
            <span class="price">6500₹ per SQ. FT.</span>
           
          </td>
          <td data-label="Brochure">
            <a class="enquire-btn" (click)="open('Download Floor Plan')" download>
              <!-- inline icon -->
              Download PDF
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  </div>
</section>