<div class="slider_f">
    <div class="slide_t">
            <div class="sld_f">
              <div class="text_s">
                <span>Embrace premium living and nature's splendor with 35+ amenities in Mokila.</span>
                <h2>Elite 3 & 4 BHK Apartments</h2>
                <p>TS RERA No. P02400007912</p>
              </div>
            </div>
            
      <!-- <div class="video_block">
        <img src="../../elesym/gallery/02.webp" alt="video"/>
      </div> -->

    </div>
  </div>