<section class="projects_b jarallax" style="background-image: url(assets/img/bg_home_black.png)">
    <div class="container">
        <div class="head_block">
            <h2 class="lax" data-lax-preset_large="zoomIn-0.9">AMENITIES</h2>
            <div class="line_title lax" data-lax-preset_large="zoomIn-0.7">
                <svg>
                    <use xlink:href="assets/img/icons/sprite.svg#lamp_white_s"></use>
                </svg>
            </div>
            <p class="lax" data-lax-preset_large="fadeInOut-10 crazy-10">Step into a world where premium living meets
                the harmony of nature.</p>
        </div>
        <div class="slider_global">
            <div class="swiper-container">
                <div class="projects_blocks swiper-wrapper" style="height: fit-content !important;">
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/kids_play.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Kids Play Area</h3>
                                    <p>A safe, engaging space for your children to explore and grow.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/pet_park.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Pet Park</h3>
                                    <p>A dedicated space for your furry friends to run and socialize.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                   <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/Clubhouse.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Swimming Pool</h3>
                                    <p>A serene retreat to relax and rejuvenate.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                   <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/Amphitheatre.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Amphitheatre</h3>
                                    <p>Open-air performances under the stars.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/banquete.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Banquet Hall</h3>
                                    <p>Host celebrations in an elegant setting.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                    <div class="proj swiper-slide" style="border-radius: 10px;">
                        <div class="cards">
                            <article class="card" tabindex="0">
                                <div class="card__media">
                                    <img src="../elesym/amenities/gym.webp" alt="Property exterior">
                                </div>

                                <div class="card__content">
                                    <h3 class="card__title">Gym</h3>
                                    <p>Indoor and outdoor fitness facilities with advanced equipment.</p>
                                </div>

                            </article>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper_buttons_n">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>

<section class="icons_block">
    <div class="container">
      <div class="row icons_block_f lax" data-lax-preset_large="driftLeft-30 fadeIn-10" [style]="isMobile ?'margin-left:1rem;':'' ">
                <div class="s_icon col-12 col-lg-4">
                    <img src="../elesym/icons/apartment.png" alt="14min to orr" style="height: 9vh;"/>
                  <div class="icon_info">
                    <h3>14 Mins to ORR</h3>
                    <p>Seamless access to the Outer Ring Road for hassle-free connectivity across the city.</p>
                  </div>
                </div>
                <div class="s_icon col-12 col-lg-4">
                   <img src="../elesym/icons/map.png" alt="14min to orr" style="height: 9vh;"/>
                  <div class="icon_info">
                    <h3>Spacious Apartments</h3>
                    <p>Experience expansive living with ample room for relaxation and enjoyment.</p>
                  </div>
                </div>
                <div class="s_icon col-12 col-lg-4">
                    <img src="../elesym/icons/rotate.png" alt="14min to orr" style="height: 9vh;"/>
                  <div class="icon_info">
                    <h3>270° Apartments View</h3>
                    <p>Revel in mesmerizing vistas from your home, where every window frames a scenic masterpiece.</p>
                  </div>
                </div>
      </div>
    </div>
  </section>